:root {
    --color-green: #015e63;
    --color-orange: #fd5900;
}

/* body {
    overflow-x: hidden;
    width: 100vw;
} */

.box {
    width: 100%;
    /* overflow: scroll !important; */
}
@media (max-width: 650px) {
    .box {
        width: 400px !important;
    }
}

.bg-green {
    background: var(--color-green);
}